# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* some popular langauges
* some commonly used libraries
* some popular Data Sciene Development environment tools
* some basic arithmetic oprations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda and Numpy
2. Matplotlib and Seaborn
3. Keras
4. Pytorch

|Data Science Tools|
|------------------|
|Jpyter lab|
|R studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
Minutes=200
hours=200/60
print(" The hours is", hours)

 The hours is 3.3333333333333335

## Author
Sahala Abdulla